@import url("normalize.css");
/** BASIC */
/* ACCESIBLE - para que el documento sea totalmente accesible debemos tener en cuenta también el contraste de colores,
por lo tanto debemos cambiar el color de fondo*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-fondo: #5d5d5d;
  /*Por defecto para todo el cuerpo del documento empleamos: 'Courier New', Courier,
monospace.*/
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

/*Para todos los tipos encabezado (h1 hasta h6): 'Franklin Gothic Medium', 'Arial Narrow',
Arial, sans-serif.*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2.centrado {
  text-align: center;
  font-size: 1.8rem;
}

h3 {
  margin-bottom: 2rem;
}

/*Tamaño de la fuente de los párrafos y las listas: 0.8 veces el tamaño de la fuente.*/
p,
li {
  font-size: 0.8rem;
}

p {
  /* BOTH of the following are required for text-overflow
	white-space: nowrap ->Elimina los espacios en blanco a un solo espacio. 
	y suprime saltos de linea del origen. 
	white-space: nowrap;
	/*overflow: hidden en tu caja, que hace exactamente lo que dice: ocultar el desbordamiento
	overflow: hidden; */
  padding: 0.25rem;
}

ul {
  list-style-type: circle;
}
/*Color texto de los enlaces color negro.*/
a {
  color: #000000;
}

p a {
  font-style: italic;
}
/*Color de los enlaces del documento al pasar sobre el: texto sin el subrayado que tienen
por defecto los enlaces, color de fondo “negro”, color del texto blanco.*/
a:hover {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding-bottom: 2rem;
}
/** HEADER */

header {
  margin: 0 0 1rem 0;
  padding: 0.15rem 0.5rem;
  /*background-color: #CCCCCC;*/
  background-color: var(--color-fondo);
  color: white;
  width: 100vw;
}

/* header h1, header h2 {
	color: #FFFFFF;
} */
/*Tamaño de los h2 de la cabecera 1 vez el tamaño de la fuente.*/
header h2 {
  font-size: 1rem;
}

/**nav -> menu */

nav {
  float: left;
  width: 15%;
  padding: 1rem;
}
nav ul {
  list-style: none;
  text-align: center;
  line-height: 3rem;
}
/*Tamaño de la fuente de las listas desordenadas (menú de la izquierda) 1.5 veces el
tamaño de la fuente.*/

nav ul li {
  font-size: 1.5rem;
}
/*Color de los enlaces del menú al pasar por encima de el: texto sin el subrayado que
tienen por defecto los enlaces, color de fondo “#a9a9a9”, color del texto blanco*/
nav a:hover {
  text-decoration: none;
  background-color: #a9a9a9;
  color: #ffffff;
  padding: 2%;
}

/** CONTENT */

#content {
  float: left;
  width: 70%;
}
#content p {
  text-overflow: ellipsis;
}

#content li {
  margin-left: 2rem;
  padding: 0.25rem 0;
}

/** FOOTER */

footer {
  clear: both;
  /*background-color: #CCCCCC;*/
  background-color: var(--color-fondo);
  min-height: 50px;
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}

footer p {
  font-weight: bold;
  color: #ffffff;
}

footer p.derecha {
  float: right;
  height: 50px;
  text-overflow: ellipsis;
}

footer p.izquierda {
  float: left;
  width: 60%;
  height: 50px;
  text-overflow: ellipsis;
}

footer a {
  display: inline;
  float: left;
  overflow: hidden;
}
